body {
    font-size:14px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;
    background-color:#eeeeee;
}

#container {
    position:relative;
    margin: 20px auto;
    padding: 20px;
    border-width: 4px;
    border-style:solid;
    border-color:#cccccc;
    width:1024px;
    background-color:#ffffff;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

#heading {
    font-size:25px;
    text-align:center;
}

#controlsContainer {
    position:relative;
}

#col1 {
    float:left;
    width:650px;
    border-width:0px;
    padding:0px;
}

#inputCode {
    width:95%;
    height:250px;
}

.errMsg-fine {
    margin-left: 20px;
    padding:4px;
    background-color:#FFFFc0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.errMsg-error {
    margin-left: 20px;
    padding:4px;
    background-color:#FF8080;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#errMsgs {
    width:95%;
    display:none;
    padding:4px;
    background-color:#FF8080;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#outputContainer {
    border-width:1px;
    border-style:solid;
    border-color:black;
    width:100%;
    height:500px;
    overflow:auto;
}

#col2 {
    float:right;
    width:350px;
    border-width:0px;
    padding:0px;
    /*background-color:#cccccc;*/
}

#formatDisplay {
    padding-top:10px;
    padding-bottom:10px;
    background-color:#cccccc;
    font-family:monospace;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.clearFloats {
    clear:both;
}